*{margin: 0; padding: 0; box-sizing: border-box;}

:root {
    --dark-blue: #363f5f;
    --dark-green: #2d4a22;
    --green: #49AA26;
    --light-green: #3dd705;
    --red: #e92929;
    --bg-body: #dadbdb;
}
/*-------------global-------------------*/
body{
    width: 100vw;
    height: 100%;
    background-color: var(--bg-body);
    font-family: 'Poppins';
}
.container{
    width: min(90vh,800px);
    margin: auto;
}

h2{
    margin-top: 3.2 rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: 400;
}

/*------------Header----------------*/
header{
    background-color: var(--dark-green);
    text-align: center;
    
}

#logo{
    color: #fff;
    font-weight: 200;
    padding: 2rem 0 10rem;
}

/*--------------Section-balance------------*/
#balance{
    margin-top: -8rem;
}
#balance h2{
    color: #fff;
    margin-top: 0;

}

/*--------------Cards-----------------*/
.card{
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom:2rem ;
}

.card h3{
    font-weight: 500;
    font-size: 1rem;
}
.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.total{
    background-color: var(--green);
    color: #fff;
}

/*---------------table----------------*/
#data-table{
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;

}

table th{
    background: #fff;
    font-weight: 400;
    
    padding: 1rem 2rem;
    text-align: left;
}

table td{
    background: #fff;
    padding: 1rem 2rem;
}

table tbody tr{
    opacity: 0.8;
}
table tbody tr:hover{
    opacity: 1;
    color: var(--dark-blue);
}

table thead:first-child,
table tbody:first-child{
    border-radius: 0.35rem 0 0 0.35rem;
}

.info{
    color: var(--dark-blue);
}
.income{
    color: var(--green);
}
.expense{
    color: var(--red)
}

/*--------footer----------*/
footer{
    text-align: center;
    font-weight: 700;
    color: var(--dark-blue);
    opacity: 0.7;
    padding:3rem 0 2rem
}