*{margin: 0; padding: 0; box-sizing: border-box; ;
}

:root {
    --dark-blue: #363f5f;
    --dark-green: #2d4a22;
    --green: #49AA26;
    --light-green: #3dd705;
    --red: #e92929;
    --bg-body: #dadbdb;
}
/*-------------global-------------------*/

body{
    
    background-color: var(--bg-body);
    font-family: 'Poppins';
    
}
.container{
    width: min(90vw,800px);

    margin: auto;
}
.sr-only{ /* trick pra esconder um elemento e manter legivel pro boot*/
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

h2{
    margin-top: 3.2 rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: 400;
}

/*--------------Links/buttons----------*/
a{
    color: var(--green);
    text-decoration: none;
    font-weight: 500;
    margin: 1rem;
}
a:hover{
    color: var(--light-green);
}

.button.new{
    margin-bottom: 0.8rem;
    display: inline-block;
}

button{
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    background: var(--green);
    padding: 0;
    border-radius: 0.25rem; ;
    cursor: pointer;
}

button:hover{
    background: var(--light-green);
}


.btn-cancel{
    color: var(--red);
    border: solid 2px var(--red);
    border-radius: 00.25rem;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin:0
}
.btn-cancel:hover{
    color: darkred;
    border:solid 2px darkred;
}
/*------------Header----------------*/
header{
    background-color: var(--dark-green);
    text-align: center;
    
}

#logo{
    color: #fff;
    font-weight: 200;
    padding: 2rem 0 10rem;
}

/*--------------Section-balance------------*/
#balance{
    margin-top: -8rem;
}
#balance h2{
    color: #fff;
    margin-top: 0;

}

/*--------------Cards-----------------*/
.card{
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom:2rem ;
}

.card h3{
    font-weight: 500;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.total{
    background-color: var(--green);
    color: #fff;
}

/*---------------table----------------*/
#transactions{
    display: block;
    width: 100%;
    overflow-x: auto;
}
#data-table{
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #969cb3;

}

table th{
    background: #fff;
    font-weight: 400;
    
    padding: 1rem 2rem;
    text-align: left;
}

table td{
    background: #fff;
    padding: 1rem 2rem;
}

table tbody tr{
    opacity: 0.8;
}
table tbody tr:hover{
    opacity: 1;
    color: var(--dark-blue);
}

table thead:first-child,
table tbody:first-child{
    border-radius: 0.35rem 0 0 0.35rem;
}
table thead:last-child,
table tbody:last-child{
    border-radius: 0 35rem 35rem 0;
}

.info{
    color: var(--dark-blue);
}
.income{
    color: var(--green);
}
.expense{
    color: var(--red)
}

/*--------------Modal-----------*/

.modal-overlay{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: 400ms;
}

.modal-overlay.show{
    opacity: 1;
    visibility: visible;
}
.modal{
    padding: 2.4rem;
    background:var(--bg-body);
    box-shadow: 10px 10px 5px rgba(0,0,0,0.4);
    width: 90%;
    max-width: 500px;
}

/*---------------form----------------*/
#form{
    width: 100%;
}
#form h2 {
    margin-top: 0px;
}
form input{
    border: none;
    border-radius: .3rem;
    padding: 1.2rem;
    margin:0.8rem 0;
    width: 100%;
}

small{
    opacity: 0.6;
}

.btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
/*--------footer----------*/
footer{
    text-align: center;
    font-weight: 500;
    color: var(--dark-blue);
    opacity: 0.7;
    padding:3rem 0 2rem
}